
.content-main .main-gallery .gallery-list {
    display: flex;

    padding-bottom: 20px;
    list-style: none;
    justify-content: center;
    margin-top: 25px;
    padding-left: 0;
    animation: show_animation 1s forwards;

}



.content-main .main-gallery .gallery-list .list-item{
    display: block;
    width: 250px ;
    margin: 10px;
    
}

/* 

.view-all {
    font-size: 16px;

    display: flex;
    color: black;
    font-weight: bold;
    align-items: flex-end;
} */

.content-main .main-gallery .gallery-list .cover {

    display: block;
    border-top: 10px;
    width: 100%;
    transition: .5s ease-in-out;


}
.i {
   font-size:24px
}

/* mobile */
@media only screen and (max-width: 992px) { 


    .item-block {

        width: 40vw;

    
    }






}

