<!DOCTYPE html>
<html lang="ru">
{% extends "base.html" %}

<head>

    {% block head %}

    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/manure.css">
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dialog.css">

    <script type="text/javascript" src="/static/js/dialog.js"></script>

    <title>Наши животные</title>

    {% endblock %}
</head>

<body>
{% block after %}
<div class="page-title-block">

    <span>Конский навоз</span>
    <p class="subtitle">По всем вопросам обращайтесь по <a href="{{url_for('contacts')}}">телефону</a></p>
    {% if user.is_authenticated %}

    <a class="add_button" href="{{url_for('add_manure_type', previous=request.full_path)}}">Добавить товар</a>

    {% endif %}


</div>


<div id="manure-blocks">
    <div class="manure-list" id="not-deleted">
        {% if manure_types %}
        {% for manure in manure_types %}

        <dialog id="image-dialog-{{manure.id}}" class="image-dialog">

            <a onclick="close_image_dialog({{manure.id}});" class="close-image-dialog-button">
                <i class="fa-solid fa-xmark"></i>
            </a>
            <div class="top">
                <a onclick="close_image_dialog({{manure.id}});" class="close-image-dialog-button">
                    <i class="fa-solid fa-xmark"></i>
                </a>
                <span>{{manure.name}}</span>


                <a download href="{{ manure.cover }}" class="download-image-button">
                    <i class="fa-solid fa-download"></i>
                </a>
            </div>
            <hr>
            <a download href="{{ manure.cover }}" class="download-image-button">
                <i class="fa-solid fa-download"></i>
            </a>
            <img src="{{ manure.cover }}">


        </dialog>
            <dialog id="confirm-dialog-{{manure.id}}-remove" class="confirm-dialog">

            <p class="dialog-title">Вы действительно хотите удалить этот товар?</p>
            <hr>
            <div class="buttons">
                <a onclick="close_confirm_dialog({{manure.id}}, 'remove');">Отмена</a>
                <a href="{{url_for('manure', action='remove', id=manure.id)}}">Да</a>
            </div>


        </dialog>
        <div class="item-block">


            {% if user.is_authenticated %}


            <div class="tools">

                <a href="{{url_for('add_manure_type', action='edit', id=manure.id, previous=request.full_path)}}">
                    <i class="fa-solid fa-pen"></i>
                </a>
                <a onclick="open_confirm_dialog({{manure.id}}, 'remove');">
                    <i class="fa fa-trash-o"></i>
                </a>
            </div>
            {% endif %}
            <div class="content">
                <a onclick="open_image_dialog({{manure.id}});">
                    <img class="cover" src="{{ manure.cover }}">
                </a>

                <div class="manure">
                    <div class="title-block">
                        <span class="manure-title">{{ manure.name }}</span>
                        {% if manure.in_stock %}
                        <span class="in_stock" style="color: green; font-size: 16px;">в наличии</span>
                        {% else %}
                        <span class="in_stock" style="color: red; font-size: 16px;">не в наличии</span>
                        {% endif %}
                    </div>

                    <hr>
                    <p class="manures-body">
                        {{ manure.body | safe}}
                    </p>

                </div>

            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="is-empty">
            <img src="static/images/empty-box-icon.svg"
                 style="filter: invert(57%) sepia(6%) saturate(16%) hue-rotate(43deg) brightness(87%) contrast(89%);">
            <p>Пока здесь пусто</p>

        </div>
        {% endif %}
    </div>


</div>

{% endblock %}

</body>
</html>